@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Varela+Round&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    display: block;
}

button{
    cursor: pointer;
}

span{
    transition: transform 0.3s ease;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }

body{
    background-color: #353a3f;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

body::-webkit-scrollbar {
    width: 0em;
}

header{
    transition: transform 0.5s ease;
    position: fixed;
    text-align: center;
    font-size: 3em;
    color: #4cb480;
}
header h1{
    font-size: 3em;
    position: relative;
    margin-bottom: 100px;
}
header h1::after{
    content: "";
    position: absolute;
    bottom: -30%;
    right: 50%;
    left: 50%;
    height: 5px;
    border-radius: 4px;
    width: 40px;
    transform: translate(-50%,0);
    background-color: #4cb480;
}
header h1 span{
    font-size: 1em;
    border-bottom: 4px solid #4cb480;
}
.header__nav{
    padding-top: 40px;
    width: 150px;
    background-color: #282d32;
    height: 100%;
    min-height: 100vh;
}
.header__nav ul{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul::before{
    content: "";
    position: absolute;
    bottom: -30px;
    right: 50%;
    left: 50%;
    height: 2px;
    border-radius: 4px;
    width: 100px;
    transform: translate(-50%,0);
    background-color: #3e4247;
}
.header__nav ul::after{
    content: "";
    position: absolute;
    top: -30px;
    right: 50%;
    left: 50%;
    height: 2px;
    border-radius: 4px;
    width: 100px;
    transform: translate(-50%,0);
    background-color: #3e4247;
}
.header__nav ul li a{
    text-decoration: none;
    color: #949699;
    font-size: 2em;
    
}
.header__nav ul li a:hover{
    color: #4cb480;
    transition: color ease 0.3s;
}
.header__nav ul li{
    margin-bottom: 30px;
}
.header__nav ul li:last-of-type{
    margin-bottom: 0px;
}

#open_menu{
    position: fixed;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    
    transition: transform ease 0.5s;
}
.icon_open{
    background-color: #4cb480;
    /* border-radius: 0%; */
    transform: translate(-50%,+300px) rotate(135deg);
}
.icon_close{
    background-color: #353a3f;
    border-radius: 10px;
    transform: translate(+180%,-20px);
}
.menu_open{
    transform: translate(0,0);
}
.menu_close{
    transform: translate(-100%,0);
}
#open_menu:hover span{
    transform: scale(1.2);
}
.welcome{
    position: relative;
    z-index: -10;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hi{
    /* position: relative; */
    position: fixed;
    font-size: 10em;
    transition: transform 1.6s ease-in-out;
}
.hi_hide{
    transform: translate(-500%,0);
}
.hi_outLine{
    position: absolute;
    width: 00px;
    height: 10px;
    background-color: #4cb480;
    border-radius: 20px;
    transition: 1.2s ease;
}
.content{
    min-height: 100vh;
    background-color: aliceblue;
}