@media(max-width:581px){
    .prompt{
        margin-top: 90px;
        height: 940px;
    }
    button:first-of-type{
        margin-top: 50px;
    }
    button:last-of-type{
        margin-bottom: 60px;
    }
}
@media(max-height:750px){
    .prompt{
        margin-top: 190px;
        height: 900px;
    }
}